.page{
	
	
	text-align: center;
	padding: 2%;
	height: 95%;
	width: 100%;
	/*background: linear-gradient(to bottom, #3CB371, #00FFFF, #48D1CC); /*#98FB98*/
	/*background-image: url("../images/house2.png");*/ 	
	color: #000000;
}

#formulario label {
    display: inline-block;
    width: 100px;
    height: 25px;
}

#formulario input {
    display: inline-block;
    width: 110px;
    height: 25px;
    margin-bottom: 15px;
}
#submit{
	margin-right: auto;
	margin-left: auto;
}

/*#minus_wake, #plus_wake, #minus_leave, #plus_leave, #minus_return, #plus_return, #minus_sleep, #plus_sleep{
	border-radius: 40%;
}*/


