<div>


    <div id='controls'>

        <p>
            Click and hold the dial above until a white ring appears (1 second), then drag up / down
            or left /
            right
            to change the target temperature.
        </p>

        <label><span>Target Temperature</span>
            <input type='range' min='10' max='30' value='10' id='input_target_temperature'
                   step='0.5'/>
        </label>

        <label><span>Ambient Temperature</span>
            <input type='range' min='-5' max='40' value='10' id='input_ambient_temperature'
                   step='0.5'/>
        </label>

        <label><span>State</span>
            <select id='input_state'>
                <option value='off'>Off</option>
                <option value='heating'>Heating</option>
                <option value='cooling'>Cooling</option>
            </select>
        </label>

        <label><span>Leaf</span>
            <select id='input_leaf'>
                <option value=''>No</option>
                <option value='1'>Yes</option>
            </select>
        </label>

        <label><span>Away</span>
            <select id='input_away'>
                <option value=''>No</option>
                <option value='1'>Yes</option>
            </select>
        </label>
    </div>

</div>


