<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nest Thermostat Control</title>



    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">


    <link rel="stylesheet" href="../imported_component/fontawesome/css/font-awesome.min.css">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../imported_component/nest-thermostat-control/css/thermostat.css">


    <!-- our javascript -->
    <script src="../static/js/paho.javascript-1.0.3/paho-mqtt-min.js"></script>
    <script src="../static/js/juan.js"></script>
    <script src="../static/js/marco.js"></script>
    <script src="../static/js/main.js"></script>

    <!--    simple keyboard extension-->
    <link href="../imported_component/simple-keyboard/css.css" rel="stylesheet">


</head>

<body>


<div class="container-fluid p-0 ">


    <!-- Modal WIFI -->
    <div class="modal" id="ModalWifi" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wi-Fi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="list-wifi">
                    <div class="d-flex flex-column form-group" id="options-wifi">

                    </div>
                    <div id="collapseKeyboard" class="collapse">
                        <div class="card-body p-1">
                            <input class="input form-control" type="password" id="keyboardInput" placeholder="Insert the password for this network"/>
                            <div class="simple-keyboard"></div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="connect" data-dismiss="modal">Connect
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog"
         aria-labelledby="setting-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="setting-modal-label">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="settings-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between px-2" style="background-color: #a3a3a3;">
        <div id="settings" class="p-2 d-flex align-items-center" data-toggle="modal"
             data-target="#settings-modal">
            <span class="fa fa-cog fa-2x text-white"/>
        </div>
        <h4 id="clock" class="d-flex align-items-center text-white"></h4>
        <div class="p-2 d-flex align-items-center" data-toggle="modal" data-target="#ModalWifi">
            <span class="fa fa-wifi fa-2x text-white"/>
        </div>
    </div>
    <div id="main-container" class="container-fluid  justify-content-center bg-dark ">
        <div class="row justify-content-center text-light">
            <h1 id="room_name"></h1>
        </div>
        <div class="d-flex flex-row justify-content-around">
            <!--        left button-->
            <div class="d-flex flex-column justify-content-center flex-wrap" id="left_button">
                <button id="left_arrow" type="button" class="btn btn-secondary btn-lg ">
                    <i class="fa fa-chevron-left"></i>
                </button>
            </div>
            <!--            thermostat-->
            <div class="d-flex flex-column justify-content-center m-2" id='thermostat'></div>

            <!--        right button-->
            <div class="d-flex flex-column justify-content-center flex-wrap" id="right_button">
                <button id="right_arrow" type="button" class="btn btn-secondary btn-lg">
                    <span class="fa fa-chevron-right"></span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center" id="container-buttons">
            <button type="button" class="btn btn-secondary m-1" id="Summer" value="0">Summer</button>
            <button type="button" class="btn btn-secondary m-1" id="Winter" value="0">Winter</button>
            <button type="button" class="btn btn-secondary m-1" id="Manual" value="0">Manual</button>
            <button type="button" class="btn btn-secondary m-1" id="AntiFreeze" value="0">AntiFreeze</button>

        </div>
    </div>
</div>

<script src="../imported_component/nest-thermostat-control/js/thermostat.js"></script>
<script src="../imported_component/simple-keyboard/js.js"></script>
<script>

    let Keyboard = window.SimpleKeyboard.default;

    let myKeyboard = new Keyboard({
        onChange: input => onChange(input),
        onKeyPress: button => onKeyPress(button)
    });

    function onChange(input) {
        document.querySelector(".input").value = input;
        console.log("Input changed", input);
    }

    function onKeyPress(button) {
        console.log("Button pressed", button);
    }
</script>




</body>

</html>


