<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <label for="name">Name :</label>
                                <input type="text" id="name" name="name" required size="10">
                            </h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Select ESP
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Set Timetable
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-default" id="anterior" value="0"><i
                                                class="icono-1" width="20%"><img src="../static/icons/left_new.png"
                                                                                 height="50%" width="50%"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <h6 id="profile">WAKE</h6>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-default" id="despues" value="1"><i
                                                class="icono-1" width="20%"><img src="../static/icons/right_new.png"
                                                                                 height="50%" width="50%"></i>
                                        </button>

                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-secondary" id="week" value="0">
                                            Weekend
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-outline-dark " id="minus" value="0">-
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" name="hour" id="hour" value="06:00" class="form-control"
                                               readonly>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-outline-dark" id="plus" value="1">+
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-outline-dark" id="minus_temp"
                                                value="0">-
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" name="temp" class="form-control" id="temp" min="10"
                                               max="25" step="1" value="21" readonly>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-outline-dark" id="plus_temp" value="1">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
