<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nest Thermostat Control</title>


    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../imported_component/clockpicker/dist/bootstrap-clockpicker.min.css">

    <link rel="stylesheet" href="../imported_component/keyboard/docs/css/font-awesome.min.css">

    <!-- our javascript -->
    <script src="../static/js/paho.javascript-1.0.3/paho-mqtt-min.js"></script>
    <script src="../static/js/phone.js"></script>

</head>

<body>


<div class="container-fluid bg-dark">
    <form>


        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="form-group">
                    <label for="roomName">Room name: </label>
                    <input type="text" class="form-control" id="roomName" aria-describedby="rommNameHelp"
                           placeholder="Enter room name">
                </div>
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">Select the ESP for this room
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Set the program for this room
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">

                            <div class="row">
                                <div class="col-3">
                                    <button type="button" class="btn btn-default" id="left_arrow_timetable" value="0">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <h6 id="profile">WAKE</h6>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-default" id="right_arrow_timetable" value="0">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-secondary" id="weekend_button" value="0">
                                        Weekend
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div>

                                    <input id="demo-input"/>
                                    <span>
                                                                            <i class="fa glyphicon-time"></i>

                                    </span>


                                </div>


                                <div class="col-1">
                                    <button type="button" class="btn btn-outline-dark" id="minus_temp"
                                            value="0">-
                                    </button>
                                </div>
                                <div class="col-3">
                                    <input type="text" name="temp" class="form-control" id="temp" min="10"
                                           max="25" step="1" value="21" readonly>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-outline-dark" id="plus_temp" value="1">
                                        +
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>


        </div>
    </form>

</div>


<script type="text/javascript" src="../imported_component/clockpicker/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../imported_component/clockpicker/assets/js/bootstrap.min.js"></script>
<script src="../imported_component/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript">
    $('#demo-input').change(function () {
        // TODO: time changed
        console.log(this.value);
    });
    $('#demo-input').clockpicker({
        autoclose: true
    });

    // if (something) {
    //     // Manual operations (after clockpicker is initialized).
    //     $('#demo-input').clockpicker('show') // Or hide, remove ...
    //         .clockpicker('toggleView', 'minutes');
    // }
</script>
</body>

</html>



