<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nest Thermostat Control</title>

    <link rel="stylesheet" href="../imported_component/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../imported_component/fontawesome-git/css/all.min.css">

    <script src="../static/js/jquery.js"></script>
    <script src="../imported_component/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../imported_component/chart/chart-min.js"></script>


    <!-- our javascript -->



</head>

<body>
<div style="position: relative;  margin: auto;  height: 90vh;  width: 90vw;">
    <h2 id="roomStats"></h2>
    <canvas id="myChart"/>


</div>

<script src="../static/js/chart/chart_launcher.js"></script>
<script src="../static/js/chart/chart_main.js"></script>


</body>

</html>


