<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nest Thermostat Control</title>

    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../imported_component/fontawesome-git/css/all.min.css">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../imported_component/chart/chart-min.js"></script>


    <!-- our javascript -->



</head>

<body>
<div style="position: relative;  margin: auto;  height: 90vh;  width: 90vw;">
    <canvas id="myChart"/>


</div>
<script src="../static/js/chart/chart_main.js"></script>

<script src="../static/js/chart/chart_launcher.js"></script>


</body>

</html>


