[Unit]
Description=ThermostatService
After=redis-server

[Service]
ExecStart=java -jar controllermd-0.2.7-SNAPSHOT.jar
ExecStartPost=python3 mainSensor.py
ExecStartPost=sleep 70
ExecStartPost=python3 mainActuator.py
ExecStartPost=chromium-browser --incognito --noerrdialogs --disable-infobars --kiosk http://localhost:8080
WorkingDirectory=/home/pi/Documents/Thermostat/test_exe/controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
