[Unit]
Description=ThermostatService
After=network.target

[Service]
ExecStart=sh ./bash.sh
WorkingDirectory=/home/pi/Documents/Thermostat/test_exe/controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
