<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="Esercitazione 1 - Applicazioni Internet" name="description">
    <meta content="MMAP" name="author">

    <title>Sign In</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link href="css/style.css" rel="stylesheet">
</head>

<body class="text-center h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center text-center align-items-center">
        <form action="#" class="form-signin" method="post" th:action="@{/login}" th:object="${formUserLogin}">
            <div class="form-group">
                <img height="100px" src="images/logo.svg" alt="Logo" class="svg">
            </div>
            <div class="form-group">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input class="form-control" id="inputEmail" name="email" placeholder="Email address" required=""
                       type="email"
                       autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input class="form-control" id="inputPassword" name="pass" placeholder="Password" required=""
                       type="password">
            </div>
            <div class="error mb-3" th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}">
                        <span th:if="${err.matches('Email and/or Password are incorrect')}"
                              th:text="( ${err} )"></span>
                </p>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <a class="btn btn-lg btn-outline-primary btn-block" href="/register">Register</a>
            </div>

            <p class="mt-5 mb-3 text-muted">Applicazioni Internet - a.a. 2018/2019</p>

            <!--<div class="form-group">
                <div th:text="${message}"></div>
            </div>-->
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>