<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <meta content="Esercitazione 1 - Applicazioni Internet" name="description">
    <meta content="MMAP" name="author">

    <title>PrivateHome</title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
</head>

<body class="text-center h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center text-center align-items-center p-sm-0 p-3">
        <div class="h1 w-100">Welcome in your Private Home</div>
        <br>
        <div class="h3 w-100">These are your data:</div>
        <table class="table table-dark">
            <tr>
                <th>First Name</th>
                <td th:text="${user.first}">keyvalue</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:text="${user.last}">keyvalue</td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${user.email}">keyvalue</td>
            </tr>
            <tr>
                <th>Password</th>
                <td th:text="${user.pass}">keyvalue</td>
            </tr>
            <tr>
                <th>Privacy</th>
                <td th:text="${user.privacy}">keyvalue</td>
            </tr>
            <tr>
                <th>Registration Timestamp</th>
                <td th:text="${user.registrationDate}">keyvalue</td>
            </tr>
        </table>

        <p class="mt-5 mb-3 text-muted">Applicazioni Internet - a.a. 2018/2019</p>

    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>